{% assign top-level-layout = 'theme' %}<!doctype html>
<!--[if lt IE 9]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head>

    {% include 'html-head-common' %}

    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}

    {% include 'html-head-scripts' %}

  </head>

  {% comment %}
  Add the page template as a class for easy page or template specific styling.
  {% endcomment %}
  <body {% include 'html-body-attributes' %}>

    <header class="site-header" role="banner">
      <div class="wrapper">

        <div class="grid--full">
          <div class="grid-item large--one-half">
            {% comment %}
            Use the uploaded logo from theme settings if enabled
            {% endcomment %}
            <h1 class="header-logo large--left">
              {% if settings.use_logo %}
                <a href="/">
                  {{ 'logo.png' | asset_url | img_tag: shop.name }}
                </a>
              {% else %}
                <a href="/">{{ shop.name }}</a>
              {% endif %}
            </h1>
            
            <nav class="nav-bar" role="navigation">
              {% include 'site-nav' %}
            </nav>

          </div>
          <div class="grid-item large--one-half text-center large--text-right">

            {% comment %}
            If customer accounts are enabled, provide login and create account links
            {% endcomment %}
            {% if shop.customer_accounts_enabled %}
              <p class="site-header--text-links">
                {% if customer %}
                  Logged in as <a href="/account">{{ customer.first_name }}</a> &middot; {{ 'Log out' | customer_logout_link }}
                {% else %}
                  {{ 'Log in' | customer_login_link }}

                  <!-- {% if shop.customer_accounts_optional %}
                    or {{ 'Create an account' | customer_register_link }}
                  {% endif %} -->

                {% endif %}
              </p>
            {% endif %}

            {% comment %}
            You cart/checkout link should at least show the number of items in it.
            Below shows the item count followed by item(s) and the total cart price.

            Ajaxify Cart Notes:
            - #cartToggle toggles cart visibility (drawer or modal)
            - #cartCount updates the total number of items in the cart
            - #cartCost updates the total cost of the cart
            - Documentation:  http://shopify.com/timber#ajax-cart
            {% endcomment %}
            <a href="/cart" id="cartToggle">
              Cart (<span id="cartCount">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'item', 'items' }} <span id="cartCost">{{ cart.total_price | money }}</span>)
            </a>

            <div class="nav-search">
              {% include 'search-bar' %}
            </div>

          </div>
        </div>

      </div>
    </header>

    <main class="wrapper main-content" role="main">

      {{ content_for_layout }}

    </main>

    {% include 'footer' %}

    {% include 'html-footer-scripts' %}

  </body>
</html>
