{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% if linklists.featured-collections.links.size > 0 %}
  <div class="collections-hero">
    <div class="wrapper">

      <div class="collections-hero-block">
        <div class="collections-hero-content">

          <h2>
            Theia, Let your
            <br />
            inner goddess shine.
          </h2>

          <a href="{{ linklists.featured-collections.links.first.url }}">View Latest Collection</a>

        </div>
      </div>

      <div class="latest-collections-menu-row">

        <nav class="latest-collections-menu" role="navigation">
          <ul>
            {% for link in linklists.featured-collections.links offset:1 %}

              {% assign collection = link.object %}

              {% comment %}
              Use capture to put the collection title in a variable that is used in liquid filters
              {% endcomment %}
              {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

              <li>
                <style style="text/css" scoped>

                  #collection-{{ collection.id }}:before {
                    background-image: url('{{ collection.image.src | collection_img_url: 'large' }}');
                  }

                </style>
                <a id="collection-{{ collection.id }}" class="latest-collections-link" href="{{ collection.url }}" title="Browse our {{ collection_title }} collection">
                  {{ collection.image.src | collection_img_url: 'large' | img_tag: collection_title }}
                  <div class="overlay"></div>
                  <span>{{ collection_title }}</span>
                </a>
              </li>

            {% endfor %}
          </ul>
        </nav>

      </div>

    </div>
  </div>
{% endif %}

{% include 'featured-press-hero' %}

<div class="celebrity-gallery-hero">
  <div class="wrapper-14-col">
    <div class="celebrity-gallery">
      <div class="main">
        <div id="carrieUnderwood" class="slide">
          {{ 'carrie-underwood.jpg' | asset_url | img_tag }}
          <div class="content">
            <h3>Carrie Underwood</h3>
            <p>Worn at the Grammy Awards</p>
            <p><a href="#">Shop this look</a></p>
          </div>
        </div>
        <div id="taylorSwift" class="slide hide">
          {{ 'taylor-swift.jpg' | asset_url | img_tag }}
          <div class="content">
            <h3>Taylor Swift</h3>
            <p>Worn at the MTV Awards</p>
            <p><a href="#">Shop this look</a></p>
          </div>
        </div>
        <div id="oprahWinfrey" class="slide hide">
          {{ 'oprah-winfrey.jpg' | asset_url | img_tag }}
          <div class="content">
            <h3>Oprah Winfrey</h3>
            <p>Worn on her show</p>
            <p><a href="#">Shop this look</a></p>
          </div>
        </div>
      </div>
      <div class="side">
        <a href="#carrieUnderwood" class="thumb">
          {{ 'carrie-underwood-thumb.jpg' | asset_url | img_tag }}
          <h3>Carrie Underwood</h3>
        </a>
        <a href="#taylorSwift" class="thumb">
          {{ 'taylor-swift-thumb.jpg' | asset_url | img_tag }}
          <h3>Taylor Swift</h3>
        </a>
        <a href="#oprahWinfrey" class="thumb">
          {{ 'oprah-winfrey-thumb.jpg' | asset_url | img_tag }}
          <h3>Oprah Winfrey</h3>
        </a>
      </div>
    </div>
  </div>
</div>


<h2>Events and Press Releases</h2>

<div class="homepage-press-releases">
  {% for article in blogs['press-releases'].articles limit:5 %}

      <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
      <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
        [{{ article.published_at | date: '%B %Y' }}]
      </time>

  {% endfor %}

  <a href="{{ blogs['press-releases'].url }}">See all press releases</a>
</div>
